{% extends "base.html" %}

{% block content %}
<header class="container mt-4">
    <div class="row">
        <div class="col d-flex justify-content-center">
            <h1 class="display-3">Chat Board</h1>
        </div>
        <div class="col d-flex justify-content-center align-items-center">
            <h5>Filter Posts by Interest: </h5>
            <form method="GET" action="{% url 'home' %}" id="interest-form">
                <select name="interest" onchange="this.form.submit()">
                    <option value="">All Interests</option>
                    {% for interest in interests %}
                    <option value="{{ interest }}" {% if selected_interest == interest %}selected{% endif %}>
                        {{ interest }}</option>
                    {% endfor %}
                </select>
            </form>
        </div>
    </div>
</header>

<div class="container mt-2 Board">
    <h5>Recent Posts</h5>
    <div class="row d-flex justify-content-around">

        {% for post in posts %}
        <div class="col-4">
            <div class="blue-note z-2 d-flex flex-wrap" id="content-card">
                <div class="card-body z-3 d-flex">
                    <div id="post-{{ post.id }}" class="post">
                        <p>
                            {{ post.content|truncatewords:15 }}
                            <a href="{% url 'post_detail' post.id %}?from=post-{{ post.id }}" id="sticky-custom-link">Read More</a>
                            {% if post.interests %}
                            <p>Interests: {{ post.interests }}</p>
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>


    {% endblock %}